@model PagedList.IPagedList<My_Blog_MVC.Models.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Home Page";
}

@{
 
    <div style="padding:25px;">
        <h1 style="text-align:center;border:1px dotted green">Welcome..!</h1>


        
        @foreach (var item in Model)
        {
            <div style="padding: 15px">
                <h3 style ="text-align:center">@item.postTitle</h3>
                <p style="text-align:justify"> @item.preview  
                    @Html.ActionLink(" ...see more", "Details", new { id = item.postId })
                </p>
                <p style="text-align:right"><strong>Author :</strong> @item.createdBy</p>  
                <hr style="display:inherit;border-style:groove"/>
            </div>
        }
        
    </div>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))